<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="PRAGMA" content="NO-CACHE">
<title></title>
  <link rel="stylesheet" href="/static/css/base/jquery.ui.all.css">
  <link rel="stylesheet" href="/static/css/GeneralStyle.css">
  <script src="/static/js/jquery-min.js"></script>
  <script src="/static/js/blackboard.js"></script>
</head>
<body id="bodyStyle">
{{ menu_superior }}
<div id="PanelPrincipal">
  <div id="PanelIzquierda">
    {{ recursos_panel }}
  </div>
  <div id="PanelCentral">
    {{ black_board_panel }}
  </div>
  <div id="PanelDerecha">
    {{ chat_panel }}
  </div>
</div>
<div id="BarraEstado"></div>
</body>
</html>