<!DOCTYPE html>
<html>
<head>
<title>VCR</title>

</head>
<body id="myapp">
<div style="margin:auto auto; width: 300px">
<form id="loginForm" encType="multipart/form-data" action="/auth/login" method="Post">
  <h1>
    Login</h1>
    <table style="border: 1px; border-radius: 6px; -moz-border-radius: 6px; border-color: #546eaf; border-left-style: solid; border-bottom-style: solid; border-right-style: solid; border-top-style: solid; border-bottom-color: #546eaf; border-right-color: #546eaf; border-top-color: #546eaf; border-collapse: separate; width: 329px; height: 61px;">
      <tbody>
        <tr>
          <td align="right" style="vertical-align:bottom; width: 99.1833px; height: 22px;">
              Usuario
          </td>
          <td align="left"  style="vertical-align:bottom">
            <input type="text" name="user" id="user"></input>
          </td>
        </tr>
        <tr>
          <td align="right" style="vertical-align:bottom">
              Contraseña
          </td>
          <td align="left" style="vertical-align:bottom">
            <input type="password" name="password" id="password"></input>
          </td>
        </tr>
        <tr align="right">
          <td align="right"></td>
          <td align="right">
            <button type="submit">Entrar</button>
          </td>
        </tr>
      </tbody>
    </table>
</form>
</div>
 </body>
</html>
